body{
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190827/pngtree-fire-texture-background-with-red-hot-burning-flames-image_306674.jpg);
}
h1{
    color: white;
    border-style: solid;
    border-width: medium;
    border-color:white;
}
p{
    background-color: darkgray;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
}
p1{
    background-color: darkgray;
    color: white;
}
figcaption{
    color: white;
}
label{
    color: white;
}
progress{
    color: white;
}
